<p class="text-xs-center">Login</p>
<div
    @fade
    class="alert alert-{{message.type}}"
    *ngIf="message?.text">
    {{message.text}}
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div
        class="form-group"
        [ngClass]="{'has-error': form.get('email')?.invalid && form.get('email')?.touched}">
        <label for="email">Email</label>
        <input
            type="text"
            autocomplete="username"
            id="email"
            placeholder="Enter your email"
            formControlName="email"
            class="form-control underlined">
        <span
            class="form-help-text"
            *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            <span *ngIf="form.get('email')?.errors?.['required']">Email cannot be empty. </span>
            <span *ngIf="form.get('email')?.errors?.['email']">Enter a valid email. </span>
        </span>
    </div>
    <div
        class="form-group"
        [ngClass]="{'has-error': form.get('password')?.invalid && form.get('password')?.touched}">
        <label for="password">Password</label>
        <input
            type="password"
            autocomplete="current-password"
            id="password"
            placeholder="Enter your password"
            formControlName="password"
            class="form-control underlined">
        <span
            class="form-help-text"
            *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            <span *ngIf="form.get('password')?.errors?.['required']">Пароль не может быть пустым. </span>
            <span *ngIf="form.get('password')?.errors?.['minlength']">
                he password must be larger
                {{ form.get('password')?.errors?.['minlength']?.['requiredLength']}}
                symbols. Now {{form.get('password')?.errors?.['minlength']?.['actualLength']}}.
            </span>
        </span>
    </div>
    <div class="form-group">
        <button
            type="submit"
            class="btn btn-block btn-primary"
            [disabled]="form.invalid">
            Sign in
        </button>
    </div>
    <div class="form-group">
        <p class="text-muted text-xs-center">
            Don't have an account? 
            <a [routerLink]="'/registration'">Sign up!</a>
        </p>
    </div>
</form>
