.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 12px 20px;
}

.title {
    color: #333;
    font-size: 1.5rem;
}

.card-block {
    padding: 20px;
}

.progress-wrapper {
    height: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    border-radius: 10px;
    transition: width 0.3s ease;
}

.text-success {
    color: #28a745;
}

.text-primary {
    color: #007bff;
}

.text-danger {
    color: #dc3545;
}
