<p class="text-xs-center">Registration for access</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div
        class="form-group"
        [ngClass]="{'has-error': form.get('email')?.invalid && form.get('email')?.touched}">
        <label for="email">Email</label>
        <input
            type="text"
            autocomplete="username"
            id="email"
            placeholder="Enter your email"
            formControlName="email"
            class="form-control underlined">
        <span
            class="form-help-text"
            *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            <span *ngIf="form.get('email')?.errors?.['required']">Email cannot be empty. </span>
            <span *ngIf="form.get('email')?.errors?.['email']">Enter a valid email. </span>
            <span *ngIf="form.get('email')?.errors?.['forbiddenEmail']">Email's already taken. </span>
        </span>
    </div>
    <div
        class="form-group"
        [ngClass]="{'has-error': form.get('password')?.invalid && form.get('password')?.touched}">
        <label for="password">Password</label>
        <input
            type="password"
            autocomplete="current-password"
            id="password"
            placeholder="Enter your password"
            formControlName="password"
            class="form-control underlined">
        <span
            class="form-help-text"
            *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            <span *ngIf="form.get('password')?.errors?.['required']">The password cannot be empty. </span>
            <span *ngIf="form.get('password')?.errors?.['minlength']">
                The password must be larger
                {{form.get('password')?.errors?.['minlength']?.['requiredLength']}}
                symbols. Now {{form.get('password')?.errors?.['minlength']?.['actualLength']}}.
            </span>
        </span>
    </div>
    <div
        class="form-group"
        [ngClass]="{'has-error': form.get('name')?.invalid && form.get('name')?.touched}">
        <label for="name">Name</label>
        <input
            type="text"
            class="form-control underlined"
            id="name"
            placeholder="Enter your name"
            formControlName="name">
        <span
            class="form-help-text"
            *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
            Name cannot be empty!
        </span>
    </div>
    <div
        class="form-group"
        [ngClass]="{'has-error': form.get('agree')?.invalid && form.get('agree')?.touched}">
        <label for="agree">
            <input
                class="checkbox"
                id="agree"
                type="checkbox"
                formControlName="agree">
            <span>I agree with the rules</span>
        </label>
    </div>
    <div class="form-group">
        <button
            type="submit"
            class="btn btn-block btn-primary"
            [disabled]="form.invalid">
            Sign up
        </button>
    </div>
    <div class="form-group">
        <p class="text-muted text-xs-center">
            Already have an account?
            <a [routerLink]="'/login'">Sign In!</a>
        </p>
    </div>
</form>
